<!DOCTYPE html>

<html lang="<%= page_lang %>">

<head>
    <meta http-equiv=content-type content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>BPL Log Viewer v4.4 - online</title>
    <meta name=apple-mobile-web-app-title content=BrewPiLess>
    <meta name=apple-mobile-web-app-capable content=yes>
    <script type="text/javascript" src="js/dygraph-2.2.1/dygraph.min.js"></script>
    <script type="text/javascript" src="js/dygraph-2.2.1/extras/synchronizer.js"></script>

    <script type="text/javascript" src="js/vendor/regression.js"></script>
    <script type="text/javascript" src="js/shared.js"></script>
    <script type="text/javascript" src="js/ical.js"></script>
    <script type="text/javascript" src="js/vendor/chart.js"></script>
    <script type="text/javascript" src="js/vendor/unichart.js"></script>
    <script type="text/javascript" src="js/script-webviewer.js"></script>
    <link rel="stylesheet" href="js/dygraph-2.2.1/dygraph.min.css">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel=stylesheet>
    <link rel="stylesheet" href="style.css">

</head>

<body onload=loaded()>
    <div style="display:none">
        <span id="ylabel"><%= chart_temperature %></span>
        <span id="y2label"><%= chart_gravity %></span>
        <span id="psilabel"><%= chart_pressure %></span>
        <span id="vollabel"><%= chart_co2vol %></span>
        <span id="rhlabel"><%= chart_rh %></span>
        <span id="gclabel"><%= gravity_change %></span>

</div>

    <div viewport layout horizontal>
        <div main flex>
            <span id="viewlogname"></span>
            <div layout horizontal>
                <div class=chart>
                    <div id=div_g class=chart-main></div>
                    <div id="div_gc" class="chart-p chart-gc"></div>

                    <div id=div_p class="chart-p pressure-group"></div>
                    <div id=div_h class="chart-p humidity-group forced-hidden"></div>
                </div>
                <ul flex class=chart-legend>
                    <li layout horizontal main-justified class="chart-legend-row time"><span class=beer-chart-legend-time><%= legend_date %></span> <span class=beer-chart-state><%= legend_state %></span></li>
                    <li layout horizontal main-justified class="chart-legend-row"><label><%= log_start_since %></label><span id="log-start"></span></li>
                    <li layout horizontal main-justified class="chart-legend-row elapse"><label><%= log_elapsed %></label><span class="beer-chart-legend-elapse legend-value">--</span></li>
                    <li layout horizontal main-justified class="chart-legend-row beer-temp"><input type=checkbox id=beer-temp name=set-name class=switch-input checked><label onclick='BChart.toggle(BeerTempLine)' for=beer-temp class=switch-label><%= legend_beertemp %></label>
                        <div class=legend-value>--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row beer-set"><input type=checkbox id=beer-set name=set-name class=switch-input checked><label onclick='BChart.toggle(BeerSetLine)' for=beer-set class=switch-label><%= legend_beerset %></label>
                        <div class=legend-value>--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row fridge-temp"><input type=checkbox id=fridge-temp name=set-name class=switch-input checked><label onclick='BChart.toggle(FridgeTempLine)' for=fridge-temp class=switch-label><%= legend_fridgetemp %></label>
                        <div class=legend-value>--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row fridge-set"><input type=checkbox id=fridge-set name=set-name class=switch-input checked><label onclick='BChart.toggle(FridgeSetLine)' for=fridge-set class=switch-label><%= legend_fridgeset %></label>
                        <div class=legend-value>--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row room-temp"><input type=checkbox id=room-temp name=set-name class=switch-input checked><label onclick='BChart.toggle(RoomTempLine)' for=room-temp class=switch-label><%= legend_roomtemp %></label>
                        <div class=legend-value>--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row aux-temp"><input type=checkbox id=aux-temp name=set-name class=switch-input checked><label onclick='BChart.toggle(AuxTempLine)' for=aux-temp class=switch-label><%= legend_auxtemp %></label>
                        <div class=legend-value>--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row gravity"><input type=checkbox id=gravity name=set-name class=switch-input checked><label onclick='BChart.toggle(GravityLine)' for=gravity class=switch-label><%= legend_gravity %><span class=platounit>&deg;P</span></label>
                        <div class=legend-value>--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row filtersg"><input type=checkbox id=filtersg name=set-name class=switch-input checked><label onclick='BChart.toggle(FilteredSgLine)' for=filtersg class=switch-label><%= legend_filteredsg %><span class=platounit>&deg;P</span></label>
                        <div class=legend-value>--</div>
                    </li>
                    
                    <li layout horizontal main-justified class="chart-legend-row sgchange1 sgchange-group forced-hidden"><input type="checkbox" id="sgchange1" name="set-name" class="switch-input" checked="checked"><label onclick="BChart.toggle(SgChange1Line)" for="sgchange1" class="switch-label"><%= gravity_change_6h %><span class="platounit">&deg;P</span></label>
                        <div class="legend-value">--</div>
                      </li>
  
                      <li layout horizontal main-justified class="chart-legend-row sgchange2 sgchange-group forced-hidden"><input type="checkbox" id="sgchange2" name="set-name" class="switch-input" checked="checked"><label onclick="BChart.toggle(SgChange2Line)" for="sgchange2" class="switch-label"><%= gravity_change_12h %><span class="platounit">&deg;P</span></label>
                        <div class="legend-value">--</div>
                      </li>
  
                      <li layout horizontal main-justified class="chart-legend-row sgchange3 sgchange-group forced-hidden"><input type="checkbox" id="sgchange3" name="set-name" class="switch-input" checked="checked"><label onclick="BChart.toggle(SgChange3Line)" for="sgchange3" class="switch-label"><%= gravity_change_24h %><span class="platounit">&deg;P</span></label>
                        <div class="legend-value">--</div>
                      </li>
  

                    <li layout horizontal main-justified class="chart-legend-row pressure pressure-group forced-hidden">
                        <input type="checkbox" id="pressure" name="set-name" class="switch-input" checked>
                        <label onclick="BChart.toggle(PressureLine,1)" for="pressure" class="switch-label"><%= legend_pressure %></label>
                        <div class="legend-value">--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row pressure pressure-group forced-hidden">
                        <input type="checkbox" id="pressure" name="set-name" class="switch-input" checked>
                        <label onclick="BChart.toggle(PressureLine,1)" for="pressure" class="switch-label"><%= legend_pressure %></label>
                        <div class="legend-value">--</div>
                    </li>

                    <li layout horizontal main-justified class="chart-legend-row pressure-set pressure-group forced-hidden">
                        <input type="checkbox" id="pressure-set" name="set-name" class="switch-input" checked>
                        <label onclick="BChart.toggle(PressureSetLine,1)" for="pressure-set" class="switch-label"><%= legend_pressure_set %></label>
                        <div class="legend-value">--</div>
                    </li>

                    <li layout horizontal main-justified class="chart-legend-row carbonation pressure-group">
                        <input type="checkbox" id="carbonation" name="set-name" class="switch-input" checked>
                        <label onclick="BChart.toggle(CarbonationLine,1)" for="carbonation" class="switch-label"><%= legend_carbonation %></label>
                        <div class="legend-value">--</div>
                    </li>

                    <li layout horizontal main-justified class="chart-legend-row humidity humidity-group forced-hidden">
                        <input type="checkbox" id="humidity" name="set-name" class="switch-input" checked>
                        <label onclick="BChart.toggle(ChamberHumidityLine,2)" for="humidity" class="switch-label"> <%= label_humidity %> </label>
                        <div class="legend-value">--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row set-humidity humidity-group forced-hidden">
                        <input type="checkbox" id="humidity-set" name="set-name" class="switch-input" checked>
                        <label onclick="BChart.toggle(SetHumidityLine,2)" for="humidity-set" class="switch-label"> <%= label_humidity_set %> </label>
                        <div class="legend-value">--</div>
                    </li>
                    <li layout horizontal main-justified class="chart-legend-row room-humidity humidity-group forced-hidden">
                        <input type="checkbox" id="room-humidity" name="set-name" class="switch-input" checked>
                        <label onclick="BChart.toggle(RoomHumidityLine,2)" for="room-humidity" class="switch-label"> <%= label_room_humidity %> </label>
                        <div class="legend-value">--</div>
                    </li>

                    <li layout horizontal main-justified class="chart-legend-row" id="formula-btn" onclick="openpolynomialpane()">f</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="polynomialpane" class="modal">
        <div class="modal-content">
            <div id="xclose" onclick="closepolynomialpane()">X</div>
            <table>
                <tr>
                    <td>
                        <table id="pointlist">
                            <thead>
                                <th>
                                    <%= dlg_poly_tilt %>
                                </th>
                                <th>
                                    <%= dlg_poly_sg %> <span class=platounit>&deg;P</span></th>
                                <th>
                                    <%= dlg_poly_cal %>
                                </th>
                                <th>
                                    <%= dlg_poly_error %>
                                </th>
                                <th>
                                    <%= dlg_poly_ignored %>
                                </th>
                            </thead>
                            <tobdy>
                                <tr class="pl_calpoint">
                                    <td class="pl_tilt"></td>
                                    <td class="pl_sg"></td>
                                    <td class="pl_value"></td>
                                    <td class="pl_error"></td>
                                    <td><input class="pl_ignored_cb" type="checkbox"></td>
                                </tr>
                            </tobdy>
                        </table>
                        <div style="float:right;"><button onclick="applyIgnoreMask()"><%= control_apply %></button></div>
                    </td>
                    <td>
                        <div id="graph"></div>
                        <span id="polynormial"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="dropdown">
        <div id="myDropdown" class="dropdown-content">
            <a href="" id="open-selection">Open Selection</a>
        </div>
    </div>


</body>

</html>
