<!DOCTYPE html>

<html lang="<%= page_lang %>">

<head>
    <meta http-equiv=content-type content="text/html; charset=utf-8">
    <title>
        <%= log_page_title %>
    </title>
    <script type="text/javascript" src="js/shared.js"></script>
    <script type="text/javascript" src="js/script-logging.js"></script>

    <style>
        #loglist td,
        #loglist tr,
        #loglist th,
        #loglist {
            border: 1px solid black;
        }
        
        fieldset {
            margin: 10px;
        }
        
        #fsinfo {
            margin: 10px;
        }
        
        #formatlist {
            display: none;
            position: absolute;
            border: 1px solid white;
            background: lightgray;
        }
        
        #formatlist table,
        #formatlist td,
        #formatlist th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        ul.inputlist {
            list-style-type: none;
        }
        
        ul.inputlist li {
            display: table-row;
        }
        
        ul.inputlist .itemtitle {
            display: table-cell;
            font-weight: bold;
        }
        
        ul.inputlist .iteminput {
            display: table-cell;
        }
        
        .listgrid {
            margin: 4px;
        }
    </style>
</head>

<body onload="init(true);">
    <fieldset>
        <legend>
            <%= log_remote_log %>
        </legend>
        <form>
            <ul class=inputlist>
                <li>
                    <span class=itemtitle><%= log_enabled %></span>
                    <span class=itemvalue> <input type="checkbox" id="enabled" value="yes"></span>
                </li>
                <li>
                    <span class=itemtitle><%= log_time_period %></span>
                    <span class=itemvalue><input type="text" id="period" size="4">
                    <%= log_seconds %>
                        </span>
                </li>
                <li>
                    <span class=itemtitle><%= log_service_type %></span>
                    <span class=itemvalue>
                        <select id=service-type name=service onchange="serviceChange()">
                        <option value="generichttp"> <%= log_generic_http %> </option>
                        <option value="thingspeak"> thingspeak.com </option>
                        <option value="ubidots"> ubidots.com </option>
                        <option value="brewfather"> Brewfather </option>
                        <option value="brewersfriend"> Brewer'sFriend </option>
                        </select>
                    </span>
                </li>

            </ul>
            <div id=service-opt>

                <div id=brewersfriend class=service-options>
                    <ul class=inputlist>
                        <li>
                            <span class=itemtitle><%= log_brewersfriend_stream_url %></span>
                            <span class=itemvalue><input type="text" id="brewersfriend-url" size="42"></span>
                        </li>
                        <li>
                                <span class=itemtitle>
                                <%= log_brewersfriend_beer %>
                                </span>
                                <span class=itemvalue><input type="text" id="brewersfriend-beer" size="42"></span>
                        </li>

                        <li>
                            <span class=itemtitle>
                                <%= log_brewersfriend_gravity_unit %>
                            </span>
                            <span class=itemvalue>
                            <span class="md-radio md-radio-inline">
                                <input id="gu-sg" type="radio" name="BF-gu" value="gu-sg" checked >
                                <label for="gu-sg">SG(1.x)</label>
                            </span>
                            <span class="md-radio md-radio-inline">
                                <input id="gu-plato" type="radio" name="BF-gu" value="gu-plato">
                                <label for="gu-plato">Plato(&deg;P)</label>
                            </span>
                            </span>
                        </li>
                    </ul>
                </div>


                <div id=thingspeak>
                    <ul class=inputlist>
                        <li><span class=itemtitle><%= log_thingspeak_api_key %></span>
                            <span class=itemvalue><input type="text" id="thingspeak-apikey" size="42"></span>
                        </li>
                        <li><span class=itemtitle><%= log_thingspeak_fields %></span>
                            <span class=itemvalue>

                                <span class=listgrid>
                                <label for="thingspeak-f1">Field 1:</label>
                                <select  name=thingspeak-f1>
                                <option value="unused"> Unused </option>
                                <option value="b"> <%= log_beertemp %> </option>
                                <option value="B"> <%= log_beerset %> </option>
                                <option value="f"> <%= log_fridgetemp %> </option>
                                <option value="F"> <%= log_fridgeset %> </option>
                                <option value="r"> <%= log_roomtemp %> </option>
                                <option value="g"> <%= log_gravity %> </option>
                                <option value="p"> <%= log_plato %> </option>
                                <option value="a"> <%= log_auxtemp %> </option>
                                <option value="v"> <%= log_voltage %> </option>
                                <option value="t"> <%= log_tilt_value %> </option>
                                <option value="P"> <%= log_pressure_reading %></option>
                                <option value="m"> <%= log_mode_in_integer %></option>

                            </select>
                                </span>
                            <span class=listgrid>
                                        <label for="thingspeak-f2">Field 2:</label>
                                        <select  name=thingspeak-f2>
                                        <option value="unused"> Unused </option>
                                        <option value="b"> <%= log_beertemp %> </option>
                                        <option value="B"> <%= log_beerset %> </option>
                                        <option value="f"> <%= log_fridgetemp %> </option>
                                        <option value="F"> <%= log_fridgeset %> </option>
                                        <option value="r"> <%= log_roomtemp %> </option>
                                        <option value="g"> <%= log_gravity %> </option>
                                        <option value="p"> <%= log_plato %> </option>
                                        <option value="a"> <%= log_auxtemp %> </option>
                                        <option value="v"> <%= log_voltage %> </option>
                                        <option value="t"> <%= log_tilt_value %> </option>

                                        <option value="P"> <%= log_pressure_reading %></option>
                                        <option value="m"> <%= log_mode_in_integer %></option>
                        </select>
                                </span>

                            <span class=listgrid>
                                        <label for="thingspeak-f3">Field 3:</label>
                                        <select  name=thingspeak-f3>
                                        <option value="unused"> Unused </option>
                                        <option value="b"> <%= log_beertemp %> </option>
                                        <option value="B"> <%= log_beerset %> </option>
                                        <option value="f"> <%= log_fridgetemp %> </option>
                                        <option value="F"> <%= log_fridgeset %> </option>
                                        <option value="r"> <%= log_roomtemp %> </option>
                                        <option value="g"> <%= log_gravity %> </option>
                                        <option value="p"> <%= log_plato %> </option>
                                        <option value="a"> <%= log_auxtemp %> </option>
                                        <option value="v"> <%= log_voltage %> </option>
                                        <option value="t"> <%= log_tilt_value %> </option>

                                        <option value="P"> <%= log_pressure_reading %></option>
                                        <option value="m"> <%= log_mode_in_integer %></option>
                        </select>
                                </span>
                            <br>
                            <span class=listgrid>
                                        <label for="thingspeak-f4">Field 4:</label>
                                        <select  name=thingspeak-f4>
                                        <option value="unused"> Unused </option>
                                        <option value="b"> <%= log_beertemp %> </option>
                                        <option value="B"> <%= log_beerset %> </option>
                                        <option value="f"> <%= log_fridgetemp %> </option>
                                        <option value="F"> <%= log_fridgeset %> </option>
                                        <option value="r"> <%= log_roomtemp %> </option>
                                        <option value="g"> <%= log_gravity %> </option>
                                        <option value="p"> <%= log_plato %> </option>
                                        <option value="a"> <%= log_auxtemp %> </option>
                                        <option value="v"> <%= log_voltage %> </option>
                                        <option value="t"> <%= log_tilt_value %> </option>
                                        <option value="P"> <%= log_pressure_reading %></option>
                                        <option value="m"> <%= log_mode_in_integer %></option>

                                    </select>
                                </span>

                            <span class=listgrid>
                                        <label for="thingspeak-f5">Field 5:</label>
                                        <select  name=thingspeak-f5>
                                        <option value="unused"> Unused </option>
                                        <option value="b"> <%= log_beertemp %> </option>
                                        <option value="B"> <%= log_beerset %> </option>
                                        <option value="f"> <%= log_fridgetemp %> </option>
                                        <option value="F"> <%= log_fridgeset %> </option>
                                        <option value="r"> <%= log_roomtemp %> </option>
                                        <option value="g"> <%= log_gravity %> </option>
                                        <option value="p"> <%= log_plato %> </option>
                                        <option value="a"> <%= log_auxtemp %> </option>
                                        <option value="v"> <%= log_voltage %> </option>
                                        <option value="t"> <%= log_tilt_value %> </option>
                                        <option value="P"> <%= log_pressure_reading %></option>
                                        <option value="m"> <%= log_mode_in_integer %></option>

                                    </select>
                                </span>

                            <span class=listgrid>
                                        <label for="thingspeak-f6">Field 6:</label>
                                        <select  name=thingspeak-f6>
                                        <option value="unused"> Unused </option>
                                        <option value="b"> <%= log_beertemp %> </option>
                                        <option value="B"> <%= log_beerset %> </option>
                                        <option value="f"> <%= log_fridgetemp %> </option>
                                        <option value="F"> <%= log_fridgeset %> </option>
                                        <option value="r"> <%= log_roomtemp %> </option>
                                        <option value="g"> <%= log_gravity %> </option>
                                        <option value="p"> <%= log_plato %> </option>
                                        <option value="a"> <%= log_auxtemp %> </option>
                                        <option value="v"> <%= log_voltage %> </option>
                                        <option value="t"> <%= log_tilt_value %> </option>
                                        <option value="P"> <%= log_pressure_reading %></option>
                                        <option value="m"> <%= log_mode_in_integer %></option>

                                    </select>
                                </span>
                            <br>
                            <span class=listgrid>
                                        <label for="thingspeak-f7">Field 7:</label>
                                        <select  name=thingspeak-f7>
                                        <option value="unused"> Unused </option>
                                        <option value="b"> <%= log_beertemp %> </option>
                                        <option value="B"> <%= log_beerset %> </option>
                                        <option value="f"> <%= log_fridgetemp %> </option>
                                        <option value="F"> <%= log_fridgeset %> </option>
                                        <option value="r"> <%= log_roomtemp %> </option>
                                        <option value="g"> <%= log_gravity %> </option>
                                        <option value="p"> <%= log_plato %> </option>
                                        <option value="a"> <%= log_auxtemp %> </option>
                                        <option value="v"> <%= log_voltage %> </option>
                                        <option value="t"> <%= log_tilt_value %> </option>
                                        <option value="P"> <%= log_pressure_reading %></option>
                                        <option value="m"> <%= log_mode_in_integer %></option>

                                    </select>
                                </span>
                            <span class=listgrid>
                                        <label for="thingspeak-f8">Field 8:</label>
                                        <select  name=thingspeak-f8>
                                        <option value="unused"> Unused </option>
                                        <option value="b"> <%= log_beertemp %> </option>
                                        <option value="B"> <%= log_beerset %> </option>
                                        <option value="f"> <%= log_fridgetemp %> </option>
                                        <option value="F"> <%= log_fridgeset %> </option>
                                        <option value="r"> <%= log_roomtemp %> </option>
                                        <option value="g"> <%= log_gravity %> </option>
                                        <option value="p"> <%= log_plato %> </option>
                                        <option value="a"> <%= log_auxtemp %> </option>
                                        <option value="v"> <%= log_voltage %> </option>
                                        <option value="t"> <%= log_tilt_value %> </option>
                                        <option value="P"> <%= log_pressure_reading %></option>
                                        <option value="m"> <%= log_mode_in_integer %></option>

                                    </select>
                                        </span>

                            </span>
                        </li>
                    </ul>
                </div>

                <div id=brewfather>
                    <ul class=inputlist>
                        <li><span class=itemtitle><%= log_brewfather_id %></span>
                            <span class=itemvalue><input type="text" id="brewfather-id" size="42"></span>
                        </li>
                        <li><span class=itemtitle><%= log_brewfather_device_label %></span>
                            <span class=itemvalue><input type="text" id="brewfather-device" size="42"></span>
                        </li>
                    </ul>
                </div>

                <div id=ubidots>
                    <ul class=inputlist>
                        <li><span class=itemtitle><%= log_ubidots_account %></span>
                            <span class=itemvalue><select name="ubidots-account" class="nb">
                                                <option value="1"><%= log_ubidots_educational %></option>
                                                <option value="2"><%= log_ubidots_industrial %>></option>
                                            </select>
                            </span>
                        </li>

                        <li><span class=itemtitle><%= log_ubidots_token %></span>
                            <span class=itemvalue><input type="text" id="ubidots-token" size="42"></span>
                        </li>
                        <li><span class=itemtitle><%= log_ubidots_device %></span>
                            <span class=itemvalue><input type="text" id="ubidots-device" size="42"></span>
                        </li>
                    </ul>
                </div>
                <div id=generichttp>
                    <ul class=inputlist>
                        <li>
                            <span class=itemtitle><%= log_method %></span>
                            <span class=itemvalue>
                            <input type="checkbox" id="m_get" name="method" value="GET" onchange="cmethod(this);">Get
                            <input type="checkbox" id="m_post" name="method" value="POST" onchange="cmethod(this);">Post
                            <input type="checkbox" id="m_put" name="method" value="PUT" onchange="cmethod(this);">Put</span>
                        </li>
                        <li>
                            <span class=itemtitle><%= log_url %></span>
                            <span class=itemvalue><input type=text id=url  size=128  placeholder="input link " onchange="checkurl(this);"></span>
                        </li>
                        <li>
                            <span class=itemtitle>DataType:</span>
                            <span class=itemvalue><input type=text id="data-type" size=42 placeholder="Content-Type"></span>
                        </li>
                        <li>
                            <span class=itemtitle></span>
                            <span class=itemvalue onmouseover="showformat(this);" onmouseout="hideformat()"><u><%= log_notation %></u></span>
                        </li>
                        <li>
                            <span class=itemtitle><%= log_format %></span>
                            <span class=itemvalue><textarea id="format" rows=4 cols=64 oninput="checkformat(this)"></textarea></span>
                        </li>
                        <li>
                            <span class=itemtitle></span>
                            <span class=itemvalue><%= log_characters %><span id="fmthint"></span></span>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <button type=button onclick="update();"><%= log_update %></button>
        </form>
    </fieldset>
    <fieldset>
        <legend>
            <%= log_local_log %>
        </legend>
        <div id=logctrl style="border-style:outset;padding:16px ">
            <div id=logstartinput>
                <span id=logtitle><%= log_new_log_name %></span>
                <input type=text id=logname size=24 maxlength=24></input>
                <button id=startlogbutton><%= log_start_logging %></button>
                <div style="margin-left:16px ">
                    <strong> <%= log_options %></strong><br>
                    <%= log_calibrate_ispindel %> <input type=checkbox id=calispindel>
                        <br>
                        <%= log_tilt_in_water %>
                            <input type=text id=tiltinw size=6>
                            <span class=tiltwatercorrect>
                                <%= log_hydrometer_reading %>
                                    <input type=text id=hydrometer size=6>
                                    <%= log_or_water_at %> <input type=text id=watertemp size=4>&deg;
                                        <%= log_calibrated %> <input type=text id=caltemp size=4>&deg;
                                            <select id=tempunit><option vlue=C>C</option><option value=F>F</option></select>
                            </span>
                </div>
            </div>
            <div id=logstopinput style="display:none">
                <strong id=loggingtitle></strong>
                <%= log_since %> <strong id=start-log-date></strong>
                    <button id=stoplogbutton><%= log_stop_logging %></button>
            </div>
        </div>
        <div id=fsinfo>
            <%= log_free_space %> <span id=fsfree>0</span> Bytes,
                <%= log_used_space %> <span id=fsused>0</span> Bytes,
                    <%= log_total_space %> <span id=fssize>0</span> Bytes
        </div>
        <table id=loglist>
            <tr>
                <th style="width:30%; ">
                    <%= log_log %>
                </th>
                <th style="width:40%; ">
                    <%= log_date %>
                </th>
                <th>
                    <%= log_action %>
                </th>
            </tr>
            <tr>
                <td class=logid></td>
                <td class=logdate></td>
                <td><button class=dlbutton><%= log_download %></button><button class=rmbutton><%= log_delete %></button></td>
            </tr>
        </table>
    </fieldset>
    <div id=formatlist>
        <table>
            <tr>
                <th>%b</th>
                <td>
                    <%= log_beertemp %>
                </td>
            </tr>
            <tr>
                <th>%B</th>
                <td>
                    <%= log_beerset %>
                </td>
            </tr>
            <tr>
                <th>%f</th>
                <td>
                    <%= log_fridgetemp %>
                </td>
            </tr>
            <tr>
                <th>%F</th>
                <td>
                    <%= log_fridgeset %>
                </td>
            </tr>
            <tr>
                <th>%r</th>
                <td>
                    <%= log_roomtemp %>
                </td>
            </tr>
            <tr>
                <th>%g</th>
                <td>
                    <%= log_gravity %>
                </td>
            </tr>
            <tr>
                <th>%p</th>
                <td>
                    <%= log_plato %>
                </td>
            </tr>
            <tr>
                <th>%a</th>
                <td>
                    <%= log_auxtemp %>
                </td>
            </tr>
            <tr>
                <th>%v</th>
                <td>
                    <%= log_voltage %>
                </td>
            </tr>
            <tr>
                <th>%t</th>
                <td>
                    <%= log_tilt_value %>
                </td>
            </tr>
            <tr>
                <th>%u</th>
                <td>
                    <%= log_timestamp %>
                </td>
            </tr>

            <tr>
                <th>%U</th>
                <td>
                    <%= log_temperature_unit %>
                </td>
            </tr>

            <tr>
                <th>%m</th>
                <td>
                    <%= log_mode_in_integer %>
                </td>
            </tr>

            <tr>
                <th>%M</th>
                <td>
                    <%= log_mode_in_character %>
                </td>
            </tr>

            <tr>
                <th>%P</th>
                <td>
                    <%= log_pressure_reading %>
                </td>
            </tr>

        </table>
    </div>
</body>

</html>
