<!DOCTYPE html>

<html lang="<%= page_lang %>">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>
        <%= gravity_title %>
    </title>
    <script type="text/javascript" src="js/altjq.js"></script>
    <script type="text/javascript" src="js/script-gravity.js"></script>
</head>

<body onload=init(true)>
    <form action="" method="post">
        <table>
            <tr>
                <td>
                    <%= gravity_useplato %>
                </td>
                <td><input type="checkbox" name="plato" value="1"> </td>
            </tr>
            <tr>
                <td>iSpindel</td>
                <td><input type="checkbox" name="ispindel" value="1"></td>
            </tr>
            <tr>
                <td>
                    <%= gravity_calculated_bpl %>
                </td>
                <td><input type="checkbox" name="cbpl" value="1"> </td>
            </tr>
            <tr>
                <td>
                    <%= gravity_coefficients %>
                </td>
                <td><input type="text" name="a3" size=15>*x^3 + <input type="text" name="a2" size=15>*x^2+ <input type="text" name="a1" size=15>*x + <input type="text" name="a0" size=15> </td>
            </tr>
            <tr>
                <td>
                    <%= gravity_temp_correction %>
                </td>
                <td><input type="checkbox" name="tc" value="1"> @ <input type="text" name="ctemp" size=4>&deg;C </td>
            </tr>
            <tr>
                <td>
                    <%= gravity_lpf_coefficient %>
                </td>
                <td><input type="text" name="lpc" size=4> </td>
            </tr>
            <tr>
                <td>
                    <%= gravity_stable_threshold %>
                </td>
                <td><input type="text" name="stpt" size=4>
                    <%= gravity_point %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= gravity_save_change %>
                </td>
                <td><input type="submit" name="submit" onclick="save();return false;"></input>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>