<!DOCTYPE html>

<html lang="<%= page_lang %>">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= config_page_title %>
    </title>
    <meta name="apple-mobile-web-app-title" content="BrewPiLess">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript" src="js/vendor/bwf.js"></script>
    <script type="text/javascript" src="js/shared.js"></script>
    <script type="text/javascript" src="js/script-config.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="style-config.css">
</head>
</head>

<body onload="load();">

    <!-- build:include partials/header.html -->
    <!-- /build -->

    <div viewport layout vertical>
        <div id="inputform" main>

            <div id="sysconfig" class="card">
                <form action="/setconfig" action="post">
                    <h5>
                        <%= config_page_title %>
                    </h5>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_lcd_auto_off %>
                        </h6>
                        <input name="aoff" type="text" size="5" maxlength="5" class="nb">
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_lcd_display %>
                        </h6>
                        <select id="display" name="dis" class="nb">
                            <option value=0><%= config_lcd_rotate %></option>
                            <option value=1><%= config_lcd_brewpi %></option>
                            <option value=2><%= config_lcd_additional %></option>
                        </select>
                    </div>

                    <div layout horizontal cross-center>
                      <h6 class="inline-header">
                          Glycol Chilling
                      </h6>
                      <div>
                          <input type="checkbox" id="glycol" name="glycol" class="switch-input" checked>
                          <label for="glycol" class="switch-label" style="min-width: 0;"></label>
                      </div>
                    </div>


                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_title %>
                        </h6>
                        <input name="title" type="text" size="12" maxlength="24">
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_host_network_name %>
                        </h6>
                        <input name="name" type="text" size="12" maxlength="16">
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_http_port %>
                        </h6>
                        <input name="port" type="text" size="5" maxlength="5">
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_username %>
                        </h6>
                        <input name="user" type="text" size="12" maxlength="16">
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_password %>
                        </h6>
                        <input name="pass" type="password" size="12" maxlength="16">
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_always_password %>
                        </h6>
                        <input type="checkbox" id="protect" name="protect" class="switch-input" checked>
                        <label for="protect" class="switch-label" style="min-width: 0;"></label>
                    </div>

                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_network_mode %>
                        </h6>
                        <select name="wifi">
                            <option value="1"><%= config_station %></option>    
                            <option value="2"><%= config_ap %></option>
                            <option value="3"><%= config_stationap %></option>
                        </select>
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_network %>
                        </h6>
                        <button id="connnected-ssid" class="btn btn--raised" onclick="Net.show();return false;">...</button>
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= config_ip %>
                        </h6>
                        <span id="sta-ip"></span>
                    </div>

                    <div layout horizontal cross-center>
                        <button class="btn btn--raised" onclick="showsysinfo(); return false;">Sysinfo</button>
                        <button class="btn btn--raised" onclick="Backup.init(),Q('#backup-diag').style.display = 'block'; return false;">Backup/Restore</button>
                        <button class="btn btn--raised" onclick="showAdvanced(); return false;">Advanced</button>                       
                    </div>

                    <div class="card-footer">
                        <input type="submit" id="submitsave" name="submit" class="btn"></input>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- network selection -->
    <div id="networkselection" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <%= config_network_selection %>
            </div>
            <div id="networks">
                <div class="nwlist">
                    <a href="#" onclick="Net.select(this)" class="ssid">N</a>&nbsp;<span class="scannednetwork"></span></div>
            </div>
            <div class="center">
                <a href="#" onclick="return Net.scan();">
                    <%= config_scan %>
                </a>
            </div>
            <form method="get" action="#">
                <input id="ssid" name="ssid" length="32" placeholder="SSID"><br>
                <input id="nwpass" name="nwpass" length="64" type="password" placeholder="password"><br><br>
                <input id="staticip" name="ip" length="1" placeholder="<%= config_fixedip %>" class="nb iptype"><br>
                <input id="gateway" name="gw" length="1" placeholder="<%= config_gateway %>" class="nb iptype"><br>
                <input id="netmask" name="mask" length="1" placeholder="<%= config_netmask %>" class="nb iptype"><br>
                <input id="dns" name="dns" length="1" placeholder="<%= config_dns %>" class="nb iptype"><br><br>
                <button type="button" onclick="return savewifi()"><%= config_save_change %></button>
                <button onclick="Net.hide();return false;"><%= dlg_cancel %></button>
            </form>
        </div>
    </div>

    <!-- build:include partials/footer.html -->
    <!-- /build -->

    <div id="waitprompt" class="modal">
        <div class="modal-content">
            <%= config_wait_restart %>
        </div>
    </div>

    <div id="sysinfo" class="modal">
        <div class="modal-content" style="width:320px">
            <div class="modal-header">
                System Information
            </div>
            <ul>
                <li layout horizontal main-justified><span class="descriptor">MAC Address</span>    <span id="mac-address"></span></li>
                <li layout horizontal main-justified><span class="descriptor">Flash Chip ID</span>  <span id="flash-id"></span></li>
                <li layout horizontal main-justified><span class="descriptor">Real Flash Size</span>    <span id="real-flash-size"></span></li>
                <li layout horizontal main-justified><span class="descriptor">Specified Flash Size</span>   <span id="specified-flash-size"></span></li>
                <li layout horizontal main-justified><span class="descriptor">File System Size</span>   <span id="fs-size"></span></li>
            </ul>
            <button class="btn btn--raised" onclick="hidesysinfo();return false;">Done</button>

        </div>
    </div>


    <div id="backup-diag" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <%= config_backup_restore %>
            </div>
            <ul>            
                <li layout horizontal main-justified><span class="descriptor"><%= config_backup_time %> </span><span id="backuptime"></span></li>
                <li layout horizontal main-justified><span class=""> <%= menu2_setup %></span><span class="device-status"></span></li>
                <li layout horizontal main-justified><span class=""> <%= menu2_gravity %></span><span class="gdc-status"></span></li>
                <li layout horizontal main-justified><span class=""><%= menu2_logs %></span> <span class="rlog-status"></span> </li>
                <li layout horizontal main-justified><span class=""><%= menu2_pressure %></span><span class="pressure-status"></span></li>
                <li layout horizontal main-justified><span class="">MQTT</span><span class="mqtt-status"></span></li>
                <li layout horizontal main-justified><span class=""><%= menu2_config %></span><span class="syscfg-status"></span></li>
            </ul>
            <div class="modal" id="processing">
                <div class="modal-content hint" id="hint_get"><%= config_getting %></div>
                <div class="modal-content hint" id="hint_put"><%= config_putting %></div>
            </div>
            <button onclick="Backup.save();return false"><%= config_save %> </button>
            <%= confg_restore_from %>  <input type="file" id="backupfile"></input>
            <button onclick="Backup.restore();return false"> <%= config_restore %>  </button>
            <button onclick=" Q('#backup-diag').style.display = 'none';return false"><%= dlg_cancel %> </button>
        </div>
    </div>


    <div id="advanced" class="modal">
        <div class="modal-content">
          <div class="modal-header">
              Advanced Settings
          </div>
        <div layout horizontal cross-center>
            <h6 class="inline-header">
              tempFormat
            </h6>
              <div>
                <select id=tempFormat name=tempFormat>
                  <option value="C"> &deg;C</option>
                  <option value="F"> &deg;F </option>
                </select>
              </div>
        </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                tempSettingMin
              </h6>
              <input type="number" id="tempSetMin" size="4" step="0.001"> &deg;
            </div>

            <div layout horizontal cross-center>
              <h6 class="inline-header">
                tempSettingMax
              </h6>
              <input type="number" id="tempSetMax" size="4" step="0.001"> &deg;
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                pidMax
              </h6>
              <input type="number" id="pidMax" size="4" step="0.001"> &deg;
            </div>

            <div layout horizontal cross-center>
              <h6 class="inline-header">
                Kp
              </h6>
              <input type="number" id="Kp" size="4" step="0.001">
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                Ki
              </h6>
              <input type="number" id="Ki" size="4" step="0.001">
            </div>

            <div layout horizontal cross-center>
              <h6 class="inline-header">
                Kd
              </h6>
              <input type="number" id="Kd" size="4" step="0.001">
            </div>

            <div layout horizontal cross-center>
              <h6 class="inline-header">
                iMaxErr
              </h6>
              <input type="number" id="iMaxErr" size="4" step="0.001">
            </div>

            <div layout horizontal cross-center>
              <h6 class="inline-header">
                idleRangeH
              </h6>
              <input type="number" id="idleRangeH" size="4" step="0.001"> &deg;
            </div>

            <div layout horizontal cross-center>
              <h6 class="inline-header">
                idleRangeL
              </h6>
              <input type="number" id="idleRangeL" size="4" step="0.001"> &deg;
            </div>


            <div layout horizontal cross-center>
              <h6 class="inline-header">
                heatTargetH
              </h6>
              <input type="number" id="heatTargetH" size="4" step="0.001"> &deg;
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                heatTargetL
              </h6>
              <input type="number" id="heatTargetL" size="4" step="0.001"> &deg;
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                coolTargetH
              </h6>
              <input type="number" id="coolTargetH" size="4" step="0.001"> &deg;
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                coolTargetL
              </h6>
              <input type="number" id="coolTargetL" size="4" step="0.001"> &deg;
            </div>


            <div layout horizontal cross-center>
              <h6 class="inline-header">
                maxHeatTimeForEst
              </h6>
              <input type="number" id="maxHeatTimeForEst" size="4"> Seconds
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                maxCoolTimeForEst
              </h6>
              <input type="number" id="maxCoolTimeForEst" size="4"> Seconds
            </div>

            <div layout horizontal cross-center>
              <h6 class="inline-header">
                fridgeFastFilt
              </h6>
              <input type="number" id="fridgeFastFilt" size="4" step="0.001">
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                fridgeSlowFilt
              </h6>
              <input type="number" id="fridgeSlowFilt" size="4" step="0.001">
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                fridgeSlopeFilt
              </h6>
              <input type="number" id="fridgeSlopeFilt" size="4" step="0.001">
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                beerFastFilt
              </h6>
              <input type="number" id="beerFastFilt" size="4" step="0.001">
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                beerSlowFilt
              </h6>
              <input type="number" id="beerSlowFilt" size="4" step="0.001">
            </div>
            <div layout horizontal cross-center>
              <h6 class="inline-header">
                beerSlopeFilt
              </h6>
              <input type="number" id="beerSlopeFilt" size="4" step="0.001">
            </div>

            <div layout horizontal cross-center>
            <h6 class="inline-header">
              lightAsHeater
            </h6>
              <div>
                <select id=lah name=lah>
                  <option value="0"> NO</option>
                  <option value="1"> YES </option>
                </select>
              </div>
          </div>
          
          <div layout horizontal cross-center>
            <h6 class="inline-header">
              RotaryHalfStep
            </h6>
              <div>
                <select id=hs name=hs>
                  <option value="0"> NO</option>
                  <option value="1"> YES </option>
                </select>
              </div>
          </div>

          <div layout horizontal cross-center>
            <h6 class="inline-header">
              minCoolTime
            </h6>
            <input type="number" id="minCoolTime" size="4"> Seconds
          </div>
          <div layout horizontal cross-center>
            <h6 class="inline-header">
              minCoolIdleTime
            </h6>
            <input type="number" id="minCoolIdleTime" size="4"> Seconds
          </div>
          <div layout horizontal cross-center>
            <h6 class="inline-header">
              minHeatTime
            </h6>
            <input type="number" id="minHeatTime" size="4"> Seconds
          </div>
          <div layout horizontal cross-center>
            <h6 class="inline-header">
              minHeatIdleTime
            </h6>
            <input type="number" id="minHeatIdleTime" size="4"> Seconds
          </div>
          <div layout horizontal cross-center>
            <h6 class="inline-header">
              deadTime
            </h6>
            <input type="number" id="deadTime" size="4"> Seconds
          </div>
          <hr>
            <div>
            <input type="checkbox" id="warning" name="warning">
            <label for="warning" style="min-width: 0;">I understand the risk of modifying these values.</label>
          </div>

          <div style="text-align: center;">
            <button class="btn btn--raised" onclick="setAdvancedOptions()" id="adv-update">Update</button>
            <button class="btn btn--raised" onclick="hideAdvanced();">Close</button>
          </div>
        </div>
      </div>


</body>

</html>