<!DOCTYPE html>

<html lang="<%= page_lang %>">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= gravity_title %>
    </title>
    <meta name="apple-mobile-web-app-title" content="BrewPiLess">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript" src="js/shared.js"></script>
    <script type="text/javascript" src="js/script-gravity.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="style-gravity.css">
</head>

<body onload=init()>

    <!-- build:include partials/header.html -->
    <!-- /build -->

    <div viewport layout vertical>
        <div main>
            <div class="card">
                <form action="" method="post">

                    <div layout horizontal main-justified cross-center>
                        <h5>iSpindel</h5>
                        <div>
                            <input type="checkbox" id="ispindel" name="ispindel" class="switch-input" checked>
                            <label for="ispindel" class="switch-label" style="min-width: 0;"></label>
                        </div>
                    </div>

                    <div layout horizontal main-justified cross-center class="ispindelsub">
                        <h6 class="inline-header">
                            <%= gravity_calculated_bpl %>
                        </h6>
                        <div>
                            <input type="checkbox" id="cbpl" name="cbpl" class="switch-input" checked>
                            <label for="cbpl" class="switch-label" style="min-width: 0;"></label>
                        </div>
                    </div>

                    <div layout horizontal cross-center class="ispindelsub">
                        <h6 class="inline-header">
                            <%= gravity_temp_correction %>
                        </h6>
                        <div layout horizontal main-justified cross-center flex>
                            <div layout horizontal cross-center>
                                <input type="text" name="ctemp" size=4>
                                <span>&deg;C</span>
                            </div>
                            <div>
                                <input type="checkbox" id="tc" name="tc" class="switch-input" checked>
                                <label for="tc" class="switch-label" style="min-width: 0;"></label>
                            </div>
                        </div>
                    </div>

                    <div layout horizontal cross-center class="ispindelsub">
                        <h6 class="inline-header">
                            <%= gravity_coefficients %>
                        </h6>
                        <input type="text" name="a3" size=15>
                        <div class="coefficient" layout horizontal main-center>x³ +</div>
                        <input type="text" name="a2" size=15>
                        <div class="coefficient" layout horizontal main-center>x² +</div>
                        <input type="text" name="a1" size=15>
                        <div class="coefficient" layout horizontal main-center>x +</div>
                        <input type="text" name="a0" size=15>
                        <div class="coefficient" layout horizontal main-center></div>
                    </div>

                    <div layout horizontal cross-center class="ispindelsub">
                        <h6 class="inline-header">
                            <%= gravity_lpf_coefficient %>
                        </h6>
                        <input type="text" name="lpc" size=4>
                    </div>

                    <div layout horizontal main-justified cross-center>
                        <h6>
                            <%= gravity_useplato %>
                        </h6>
                        <div>
                            <input type="checkbox" id="plato" name="plato" class="switch-input" checked>
                            <label for="plato" class="switch-label" style="min-width: 0;"></label>
                        </div>
                    </div>

                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= gravity_stable_threshold %>
                        </h6>
                        <input type="text" name="stpt" size=4>
                        <%= gravity_point %>
                    </div>

                    <div class="card-footer">
                        <input type="submit" name="submit" class="btn" onclick="save();return false;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- build:include partials/footer.html -->
    <!-- /build -->

</body>

</html>
