<!DOCTYPE html>

<html lang="<%= page_lang %>">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= log_page_title %>
    </title>
    <meta name="apple-mobile-web-app-title" content="BrewPiLess">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript" src="js/vendor/bwf.js"></script>
    <script type="text/javascript" src="js/shared.js"></script>
    <script type="text/javascript" src="js/script-logging.js"></script>
    <script type="text/javascript" src="js/mqtt.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="style-logging.css">
</head>

<body onload="init();">

    <!-- build:include partials/header.html -->
    <!-- /build -->

    <div viewport>
        <div main flex>
            <h4>
                <%= log_page_title %>
            </h4>
            <div class="card">
                <h5>
                    <%= log_local_log %>
                </h5>

                <div id=logstartinput>
                    <div id=logctrl layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= log_new_log_name %>
                        </h6>
                        <input type="text" id="logname" size="24" maxlength="24"></input>
                        <button id="startlogbutton" class="btn btn--raised"><%= log_start_logging %></button>
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= log_options %>
                        </h6>
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= log_write_on_buffer_full %>
                        </h6>
                        <div>
                            <input type="checkbox" id="wobf" name="cbpl" class="switch-input" checked="checked">
                            <label for="wobf" class="switch-label" style="min-width: 0;"></label>
                        </div>
                    </div>
                    <div layout horizontal cross-center>
                        <h6 class="inline-header">
                            <%= log_tilt_in_water %>
                        </h6>
                        <input type=text id=tiltinw size=6>
                    </div>
                    <div layout horizontal cross-center class=tiltwatercorrect>
                        <h6 class="inline-header">
                            <%= log_hydrometer_reading %>
                        </h6>
                        <input type=text id=hydrometer size=6 value="1.0">
                    </div>
                    <div layout horizontal cross-center class=tiltwatercorrect>
                        <h6 class="inline-header">
                            <%= log_or_water_at %>
                        </h6><input type=text id=watertemp size=4>&deg;
                        <%= log_calibrated %> <input type=text id=caltemp size=4>&deg;
                            <select id=tempunit><option value=C>C</option><option value=F>F</option></select>

                    </div>
                </div>

                <div id=logstopinput style="display:none">
                    <%= log_recording %> <strong id="loggingtitle"></strong>
                        <%= log_since %> <strong id=start-log-date></strong>
                            <button id="stoplogbutton" class="btn btn--raised"><%= log_stop_logging %></button>
                </div>


                <div id="fsinfo">
                    <%= log_free_space %>
                        <span id="fsfree">0</span> Bytes,
                        <%= log_used_space %>
                            <span id="fsused">0</span> Bytes,
                            <%= log_total_space %>
                                <span id="fssize">0</span> Bytes
                </div>

                <h5 class="small-heading">
                    <%= log_recorded_log %>
                </h5>

                <table id="loglist" class="mdl-data-table">
                    <tr>
                        <th>
                            <%= log_log %>
                        </th>
                        <th>
                            <%= log_date %>
                        </th>
                        <th>
                            <%= log_action %>
                        </th>
                    </tr>
                    <tr>
                        <td class="logid"></td>
                        <td class="logdate"></td>
                        <td>
                            <button class="dlbutton btn btn--raised"><%= log_download %></button>
                            <button class="rmbutton btn btn--raised"><%= log_delete %></button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="card">
                <div layout horizontal main-justified cross-center>
                    <h5>
                        <%= log_remote_log %>
                    </h5>
                    <div>
                        <input type="checkbox" id="enabled" name="enabled" class="switch-input" checked>
                        <label for="enabled" class="switch-label" style="min-width: 0;"></label>
                    </div>
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= log_time_period %>
                    </h6>
                    <input type="text" id="period" size="4">
                    <%= log_seconds %>
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= log_service_type %>
                    </h6>
                    <div>
                        <select id=service-type name=service onchange="serviceChange()">
                            <option value="generichttp"> <%= log_generic_http %> </option>
                            <option value="thingspeak"> thingspeak.com </option>
                            <option value="ubidots"> ubidots.com </option>
                            <option value="brewfather"> Brewfather </option>
                            <option value="brewersfriend"> Brewer'sFriend </option>
                        </select>
                    </div>

                </div>


                <div id=service-opt>
                    <div id=brewersfriend class=service-options>
                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_brewersfriend_stream_apikey %>
                            </h6>
                            <input type="text" id="brewersfriend-apikey" size="42">
                        </div>
                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_brewersfriend_beer %>
                            </h6>
                            <input type="text" id="brewersfriend-beer" size="42">
                        </div>

                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_brewersfriend_gravity_unit %>
                            </h6>

                            <div class="md-radio md-radio-inline">
                                <input id="gu-sg" type="radio" name="BF-gu" value="gu-sg" checked>
                                <label for="gu-sg">SG(1.x)</label>
                            </div>
                            <div class="md-radio md-radio-inline">
                                <input id="gu-plato" type="radio" name="BF-gu" value="gu-plato">
                                <label for="gu-plato">Plato(&deg;P)</label>
                            </div>
                        </div>
                    </div>

                    <div id=thingspeak class=service-options>
                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_thingspeak_api_key %>
                            </h6>
                            <input type="text" id="thingspeak-apikey" size="42">

                        </div>
                        <div>
                            <h6 class="inline-header">
                                <%= log_thingspeak_fields %>
                            </h6>
                            <div>

                                <span class=listgrid>
                                            <label for="thingspeak-f1">Field 1:</label>
                                            <select  name=thingspeak-f1>
                                            <option value="unused"> Unused </option>
                                            <option value="b"> <%= log_beertemp %> </option>
                                            <option value="B"> <%= log_beerset %> </option>
                                            <option value="f"> <%= log_fridgetemp %> </option>
                                            <option value="F"> <%= log_fridgeset %> </option>
                                            <option value="r"> <%= log_roomtemp %> </option>
                                            <option value="g"> <%= log_gravity %> </option>
                                            <option value="p"> <%= log_plato %> </option>
                                            <option value="a"> <%= log_auxtemp %> </option>
                                            <option value="v"> <%= log_voltage %> </option>
                                            <option value="t"> <%= log_tilt_value %> </option>
                                            <option value="P"> <%= log_pressure_reading %></option>
                                            <option value="m"> <%= log_mode_in_integer %></option>

                                        </select>
                                            </span>
                                <span class=listgrid>
                                                    <label for="thingspeak-f2">Field 2:</label>
                                                    <select  name=thingspeak-f2>
                                                    <option value="unused"> Unused </option>
                                                    <option value="b"> <%= log_beertemp %> </option>
                                                    <option value="B"> <%= log_beerset %> </option>
                                                    <option value="f"> <%= log_fridgetemp %> </option>
                                                    <option value="F"> <%= log_fridgeset %> </option>
                                                    <option value="r"> <%= log_roomtemp %> </option>
                                                    <option value="g"> <%= log_gravity %> </option>
                                                    <option value="p"> <%= log_plato %> </option>
                                                    <option value="a"> <%= log_auxtemp %> </option>
                                                    <option value="v"> <%= log_voltage %> </option>
                                                    <option value="t"> <%= log_tilt_value %> </option>
                                                    <option value="P"> <%= log_pressure_reading %></option>
                                                    <option value="m"> <%= log_mode_in_integer %></option>
        
                                                </select>
                                            </span>

                                <span class=listgrid>
                                                    <label for="thingspeak-f3">Field 3:</label>
                                                    <select  name=thingspeak-f3>
                                                    <option value="unused"> Unused </option>
                                                    <option value="b"> <%= log_beertemp %> </option>
                                                    <option value="B"> <%= log_beerset %> </option>
                                                    <option value="f"> <%= log_fridgetemp %> </option>
                                                    <option value="F"> <%= log_fridgeset %> </option>
                                                    <option value="r"> <%= log_roomtemp %> </option>
                                                    <option value="g"> <%= log_gravity %> </option>
                                                    <option value="p"> <%= log_plato %> </option>
                                                    <option value="a"> <%= log_auxtemp %> </option>
                                                    <option value="v"> <%= log_voltage %> </option>
                                                    <option value="t"> <%= log_tilt_value %> </option>
                                                    <option value="P"> <%= log_pressure_reading %></option>
                                                    <option value="m"> <%= log_mode_in_integer %></option>
        
                                                </select>
                                            </span>
                                <br>
                                <span class=listgrid>
                                                    <label for="thingspeak-f4">Field 4:</label>
                                                    <select  name=thingspeak-f4>
                                                    <option value="unused"> Unused </option>
                                                    <option value="b"> <%= log_beertemp %> </option>
                                                    <option value="B"> <%= log_beerset %> </option>
                                                    <option value="f"> <%= log_fridgetemp %> </option>
                                                    <option value="F"> <%= log_fridgeset %> </option>
                                                    <option value="r"> <%= log_roomtemp %> </option>
                                                    <option value="g"> <%= log_gravity %> </option>
                                                    <option value="p"> <%= log_plato %> </option>
                                                    <option value="a"> <%= log_auxtemp %> </option>
                                                    <option value="v"> <%= log_voltage %> </option>
                                                    <option value="t"> <%= log_tilt_value %> </option>
                                                    <option value="P"> <%= log_pressure_reading %></option>
                                                    <option value="m"> <%= log_mode_in_integer %></option>
        
                                                </select>
                                            </span>

                                <span class=listgrid>
                                                    <label for="thingspeak-f5">Field 5:</label>
                                                    <select  name=thingspeak-f5>
                                                    <option value="unused"> Unused </option>
                                                    <option value="b"> <%= log_beertemp %> </option>
                                                    <option value="B"> <%= log_beerset %> </option>
                                                    <option value="f"> <%= log_fridgetemp %> </option>
                                                    <option value="F"> <%= log_fridgeset %> </option>
                                                    <option value="r"> <%= log_roomtemp %> </option>
                                                    <option value="g"> <%= log_gravity %> </option>
                                                    <option value="p"> <%= log_plato %> </option>
                                                    <option value="a"> <%= log_auxtemp %> </option>
                                                    <option value="v"> <%= log_voltage %> </option>
                                                    <option value="t"> <%= log_tilt_value %> </option>
                                                    <option value="P"> <%= log_pressure_reading %></option>
                                                    <option value="m"> <%= log_mode_in_integer %></option>
        
                                                    </select>
                                            </span>

                                <span class=listgrid>
                                                    <label for="thingspeak-f6">Field 6:</label>
                                                    <select  name=thingspeak-f6>
                                                    <option value="unused"> Unused </option>
                                                    <option value="b"> <%= log_beertemp %> </option>
                                                    <option value="B"> <%= log_beerset %> </option>
                                                    <option value="f"> <%= log_fridgetemp %> </option>
                                                    <option value="F"> <%= log_fridgeset %> </option>
                                                    <option value="r"> <%= log_roomtemp %> </option>
                                                    <option value="g"> <%= log_gravity %> </option>
                                                    <option value="p"> <%= log_plato %> </option>
                                                    <option value="a"> <%= log_auxtemp %> </option>
                                                    <option value="v"> <%= log_voltage %> </option>
                                                    <option value="t"> <%= log_tilt_value %> </option>
                                                    <option value="P"> <%= log_pressure_reading %></option>
                                                    <option value="m"> <%= log_mode_in_integer %></option>
        
                                                </select>
                                            </span>
                                <br>
                                <span class=listgrid>
                                                    <label for="thingspeak-f7">Field 7:</label>
                                                    <select  name=thingspeak-f7>
                                                    <option value="unused"> Unused </option>
                                                    <option value="b"> <%= log_beertemp %> </option>
                                                    <option value="B"> <%= log_beerset %> </option>
                                                    <option value="f"> <%= log_fridgetemp %> </option>
                                                    <option value="F"> <%= log_fridgeset %> </option>
                                                    <option value="r"> <%= log_roomtemp %> </option>
                                                    <option value="g"> <%= log_gravity %> </option>
                                                    <option value="p"> <%= log_plato %> </option>
                                                    <option value="a"> <%= log_auxtemp %> </option>
                                                    <option value="v"> <%= log_voltage %> </option>
                                                    <option value="t"> <%= log_tilt_value %> </option>
                                                    <option value="P"> <%= log_pressure_reading %></option>
                                                    <option value="m"> <%= log_mode_in_integer %></option>


                                                </select>
                                            </span>
                                <span class=listgrid>
                                                    <label for="thingspeak-f8">Field 8:</label>
                                                    <select  name=thingspeak-f8>
                                                    <option value="unused"> Unused </option>
                                                    <option value="b"> <%= log_beertemp %> </option>
                                                    <option value="B"> <%= log_beerset %> </option>
                                                    <option value="f"> <%= log_fridgetemp %> </option>
                                                    <option value="F"> <%= log_fridgeset %> </option>
                                                    <option value="r"> <%= log_roomtemp %> </option>
                                                    <option value="g"> <%= log_gravity %> </option>
                                                    <option value="p"> <%= log_plato %> </option>
                                                    <option value="a"> <%= log_auxtemp %> </option>
                                                    <option value="v"> <%= log_voltage %> </option>
                                                    <option value="t"> <%= log_tilt_value %> </option>
                                                    <option value="P"> <%= log_pressure_reading %></option>
                                                    <option value="m"> <%= log_mode_in_integer %></option>

                                                </select>
                                                    </span>

                            </div>

                        </div>
                    </div>

                    <div id=brewfather class=service-options>
                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_brewfather_id %>
                            </h6>
                            <input type="text" id="brewfather-id" size="42">
                        </div>
                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_brewfather_device_label %>
                            </h6>
                            <input type="text" id="brewfather-device" size="42">
                        </div>
                    </div>

                    <div id=ubidots class=service-options>
                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_ubidots_account %>
                            </h6>
                            <select name="ubidots-account" class="nb">
                                                        <option value="1"><%= log_ubidots_educational %></option>
                                                        <option value="2"><%= log_ubidots_industrial %></option>
                                                    </select>

                        </div>
                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_ubidots_token %>
                            </h6>
                            <input type="text" id="ubidots-token" size="42">
                        </div>
                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_ubidots_device %>
                            </h6>
                            <input type="text" id="ubidots-device" size="42">
                        </div>
                    </div>

                    <div id=generichttp class=service-options>

                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_method %>
                            </h6>
                            <div class="md-radio md-radio-inline">
                                <input id="m_get" type="radio" name="method" checked onchange="cmethod(this);">
                                <label for="m_get">GET</label>
                            </div>
                            <div class="md-radio md-radio-inline">
                                <input id="m_post" type="radio" name="method" onchange="cmethod(this);">
                                <label for="m_post">POST</label>
                            </div>
                            <div class="md-radio md-radio-inline">
                                <input id="m_put" type="radio" name="method" onchange="cmethod(this);">
                                <label for="m_put">PUT</label>
                            </div>
                        </div>

                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_url %>
                            </h6>
                            <input type="text" id="url" size="128" placeholder="input link" onchange="checkurl(this);">
                        </div>

                        <div layout horizontal cross-center>
                            <h6 class="inline-header">Data Type:</h6>
                            <input type="text" id="data-type" size="42" placeholder="Content-Type">
                        </div>
                        <p class="hint">JSON:"application/json", Form Type:"application/x-www-form-urlencoded"</p>

                        <div layout horizontal cross-center>
                            <h6 class="inline-header">
                                <%= log_format %>
                            </h6>
                            <div layout vertical style="width: 100%;">
                                <textarea id="format" rows="4" cols="64" oninput="checkformat(this)"></textarea>
                                <div layout horizontal main-justified cross-center>
                                    <span onmouseover="showformat(this)" onmouseout="hideformat()">
                                <u><%= log_notation %></u>
                            </span>
                                    <span>
                                <%= log_characters %>
                                <span id="fmthint">0/256</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" onclick="update();" class="btn btn--raised"><%= log_update %></button>
                </div>

            </div>
            <div id="mqtt" class="card">
                <div layout horizontal main-justified cross-center>
                    <h4>
                        <%= mqtt_settings %>
                    </h4>
                </div>

                <div layout horizontal cross-center>
                    <h5>
                        <%= mqtt_broker_settings %>
                    </h5>
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_server %>
                    </h6>
                    <input name="mqtt_server" type="text" size="32" maxlength="64" class="nb mqtt-input">
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_port %>
                    </h6>
                    <input name="mqtt_port" type="text" size="5" maxlength="5" class="nb mqtt-input">
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_username %>
                    </h6>
                    <input name="mqtt_user" type="text" size="32" maxlength="64" class="nb mqtt-input">
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_password %>
                    </h6>
                    <input name="mqtt_pass" type="text" size="32" maxlength="64" class="nb mqtt-input">
                </div>

                <div layout horizontal main-justified cross-center>
                    <h5>
                        <%= mqtt_reporting %>
                    </h5>
                    <div>
                        <input type="checkbox" id="mqtt_log" name="mqtt_log" class="switch-input mqtt-input" checked>
                        <label for="mqtt_log" class="switch-label" style="min-width: 0;"></label>
                    </div>
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_time_period %>
                    </h6>
                    <input type="text" id="mqtt_period" name="mqtt_period" size="4" class="mqtt-input">
                    <%= log_seconds %>
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_base_path %>
                    </h6>
                    <input name="mqtt_base" type="text" size="32" maxlength="64" class="nb mqtt-input">
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_report_format %>
                    </h6>
                    <div>
                        <select name="mqtt_format" class="mqtt-input">
                            <option value=0><%= mqtt_individual_topic %></option>
                            <option value=1><%= mqtt_whole_as_json %></option>
                        </select>
                    </div>
                </div>


                <div layout horizontal main-justified cross-center>
                    <h5>
                        <%= mqtt_remote_control %>
                    </h5>
                    <div>
                        <input type="checkbox" id="mqtt_enabled" name="mqtt_enabled" class="switch-input mqtt-input" checked>
                        <label for="mqtt_enabled" class="switch-label" style="min-width: 0;"></label>
                    </div>
                </div>


                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_mode_path %>
                    </h6>
                    <input name="mqtt_mode" type="text" size="32" maxlength="64" class="nb mqtt-input">
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_beerset_path %>
                    </h6>
                    <input name="mqtt_beerset" type="text" size="32" maxlength="64" class="nb mqtt-input">
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_fridgeset_path %>
                    </h6>
                    <input name="mqtt_fridgeset" type="text" size="32" maxlength="64" class="nb mqtt-input">
                </div>


                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_cap_control_path %>
                    </h6>
                    <input name="mqtt_cap" type="text" size="32" maxlength="64" class="nb mqtt-input">
                </div>

                <div layout horizontal cross-center>
                    <h6 class="inline-header">
                        <%= mqtt_ptc_path %>
                    </h6>
                    <input name="mqtt_ptc" type="text" size="32" maxlength="64" class="nb mqtt-input">
                </div>
                <div class="card-footer">
                    <input type="submit" id="submitsavemqtt" name="submit" class="btn btn--raised"></input>
                </div>
            </div>

        </div>
    </div>

    <!-- build:include partials/footer.html -->
    <!-- /build -->

    <!-- Formatlist -->
    <div id="formatlist">
        <table class="mdl-data-table">
            <tr>
                <th>%b</th>
                <td>
                    <%= log_beertemp %>
                </td>
            </tr>
            <tr>
                <th>%B</th>
                <td>
                    <%= log_beerset %>
                </td>
            </tr>
            <tr>
                <th>%f</th>
                <td>
                    <%= log_fridgetemp %>
                </td>
            </tr>
            <tr>
                <th>%F</th>
                <td>
                    <%= log_fridgeset %>
                </td>
            </tr>
            <tr>
                <th>%r</th>
                <td>
                    <%= log_roomtemp %>
                </td>
            </tr>
            <tr>
                <th>%g</th>
                <td>
                    <%= log_gravity %>
                </td>
            </tr>
            <tr>
                <th>%p</th>
                <td>
                    <%= log_plato %>
                </td>
            </tr>
            <tr>
                <th>%a</th>
                <td>
                    <%= log_auxtemp %>
                </td>
            </tr>
            <tr>
                <th>%v</th>
                <td>
                    <%= log_voltage %>
                </td>
            </tr>
            <tr>
                <th>%t</th>
                <td>
                    <%= log_tilt_value %>
                </td>
            </tr>
            <tr>
                <th>%u</th>
                <td>
                    <%= log_timestamp %>
                </td>
            </tr>

            <tr>
                <th>%U</th>
                <td>
                    <%= log_temperature_unit %>
                </td>
            </tr>

            <tr>
                <th>%m</th>
                <td>
                    <%= log_mode_in_integer %>
                </td>
            </tr>

            <tr>
                <th>%M</th>
                <td>
                    <%= log_mode_in_character %>
                </td>
            </tr>

            <tr>
                <th>%P</th>
                <td>
                    <%= log_pressure_reading %>
                </td>
            </tr>
            <tr>
                <th>%H</th>
                <td>
                   Hostname
                </td>
            </tr>

        </table>
    </div>

</body>

</html>