<!DOCTYPE html>

<html lang="<%= page_lang %>">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= setup_page_title %>
    </title>
    <meta name="apple-mobile-web-app-title" content="BrewPiLess">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript" src="js/vendor/bwf.js"></script>
    <script type="text/javascript" src="js/shared.js"></script>
    <script type="text/javascript" src="js/script-setup.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="style-setup.css">
</head>

<body onload=init()>

    <!-- build:include partials/header.html -->
    <!-- /build -->
    <div viewport>
        <div class="navbar" horizontal layout main-justified cross-center>
            <div class="navitems" >
                <div class="navitem"><%= setup_device_list %></div>
            <button  class="btn btn--raised" onclick=backup()><%= setup_backup %></button>
            <button  class="btn btn--raised" onclick=restore()><%= setup_restore %></button>
            <button  class="btn btn--raised" onclick=erase()><%= setup_erase_eeprom %></button>
            <button  class="btn btn--raised" onclick=list()><%= setup_refresh %></button>
        </div>
        </div>
        <div id="device-list">
            <div id="installed-device">
                <%= setup_installed_device %>
            </div>
            <div id="installed-list"></div>
            <div id="detected-device">
                <%= setup_detected_device %>
            </div>
            <div id="detected-list">
            </div>
        </div>
        <div class='device-container extsensor-device'>
            <table>
                <tr>
                    <td ROWSPAN=2>
                        <div class='device-title'></div>
                        <br>
                        <button><%= setup_apply %></button>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_device_slot %></span>
                            <select class='slot-select'>
                                <option value='-1'><%= setup_unassigned %></option>
                                <option value='0'>0</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_hardware_type %></span>
                            <span class='setting-value device-type'><%= setup_external_sensor %></span>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class='device-setting-container device-address-container'>
                            <span class='setting-name'></span>
                            <span class='setting-value device-address'></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_controller_pin %></span>
                            <span class='setting-value device-pin'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_value %></span>
                            <span class='setting-value device-value'>--</span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_calibration %></span>
                            <input size="6" class='setting-value device-calibration'>
                        </div>
                    </td>    
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_function %></span>
                            <select class='setting-value device-function'>
                                <option value=0><%= setup_none %></option>
                                <option value=5><%= setup_chamber_temp %></option>
                                <option value=6><%= setup_room_temp %></option>
                                <option value=9><%= setup_beer_temp %></option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class='device-container env-temp-device'>
            <table>
                <tr>
                    <td ROWSPAN=2>
                        <div class='device-title'></div>
                        <br>
                        <button><%= setup_apply %></button>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_device_slot %></span>
                            <select class='slot-select'>
                                <option value='-1'><%= setup_unassigned %></option>
                                <option value='0'>0</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_hardware_type %></span>
                            <span class='setting-value device-type'><%= env_temp_sensor %></span>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class='device-setting-container device-address-container'>
                            <span class='setting-name'></span>
                            <span class='setting-value device-address'></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= hum_sensor_location %></span>
                            <span class='setting-value'><span class="chamber-sensor"><%= chamber_humidity_temp %>  </span> <span class="room-sensor"> <%= room_humidity_temp %> </span> </span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_value %></span>
                            <span class='setting-value device-value'>--</span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_calibration %></span>
                            <input size="6" class='setting-value device-calibration'>
                        </div>
                    </td>    
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_function %></span>
                            <select class='setting-value device-function'>
                                <option value=0><%= setup_none %></option>
                                <option value=5><%= setup_chamber_temp %></option>
                                <option value=6><%= setup_room_temp %></option>
                                <option value=9><%= setup_beer_temp %></option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class='device-container sensor-device'>
            <table>
                <tr>
                    <td ROWSPAN=2>
                        <div class='device-title'></div>
                        <br>
                        <button><%= setup_apply %></button>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_device_slot %></span>
                            <select class='slot-select'>
                                <option value='-1'><%= setup_unassigned %></option>
                                <option value='0'>0</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_hardware_type %></span>
                            <span class='setting-value device-type'><%= setup_sensor %></span>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class='device-setting-container device-address-container'>
                            <span class='setting-name'><%= setup_address %></span>
                            <span class='setting-value device-address'></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_controller_pin %></span>
                            <span class='setting-value device-pin'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_value %></span>
                            <span class='setting-value device-value'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_calibration %></span>
                            <input size="6" class='setting-value device-calibration'>
                        </div>
                    </td>    
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_function %></span>
                            <select class='setting-value device-function'>
                                    <option value=0><%= setup_none %></option>
                                    <option value=5><%= setup_chamber_temp %></option>
                                    <option value=6><%= setup_room_temp %></option>
                                    <option value=9><%= setup_beer_temp %></option>
                                </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class='device-container pin-device'>
            <table>
                <tr>
                    <td ROWSPAN=2>
                        <div class='device-title'></div>
                        <br>
                        <button><%= setup_apply %></button>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_device_slot %></span>
                            <select class='slot-select'>
                                <option value='-1'><%= setup_unassigned %></option>
                                <option value='0'>0</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_hardware_type %></span>
                            <span class='setting-value device-type'><%= setup_pin %></span>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class='device-setting-container device-pintype-container'>
                            <span class='setting-name'><%= setup_pin_type %></span>
                            <select class='setting-value device-pintype'>
                                <option value=0><%= setup_not_inverted %></option>
                                <option value=1><%= setup_inverted %></option>
                            </select>
                        </div>
                        <div class='device-setting-container device-humidity-sensor-container'  style="display:none;">
                            <span class='setting-name'><%= setup_sensor_type %></span>
                            <select class='setting-value device-humidity-sensor'>
                                <option value=11>DHT11</option>
                                <option value=12>DHT12</option>
                                <option value=22>DHT22</option>
                                <option value=21>DHT21/AM2301</option>

                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_controller_pin %></span>
                            <span class='setting-value device-pin'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_value %></span>
                            <span class='setting-value device-value'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container  device-humidity-sensor-container device-calibration'>
                            <span class='setting-name'><%= setup_calibration %></span>
                            <input size="6" class='setting-value device-calibration'>
                        </div>
                    </td>    
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_function %></span>
                            <select class='setting-value device-function'>
                                <option value=0><%= setup_none %></option>
                                <option value=1><%= setup_chamber_door %></option>
                                <option value=2><%= setup_chamber_heater %></option>
                                <option value=3><%= setup_chamber_cooler %></option>
                                <option value=4><%= setup_chamber_light %></option>
                                <option value=7><%= setup_chamber_fan %></option>
                                <option value=8><%= setup_chamber_humidity %></option>
                                <option value=18><%= setup_room_humidity %></option>
                                <option value=14><%= setup_capper %></option>
                                <option value=15><%= setup_ptc_cooler %></option>
                                <option value=16><%= setup_humidifier %></option>
                                <option value=17><%= setup_dehumidifier %></option>

                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class='device-container ow-device'>
            <table>
                <tr>
                    <td ROWSPAN=2>
                        <div class='device-title'></div>
                        <br>
                        <button><%= setup_apply %></button>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_device_slot %></span>
                            <select class='slot-select'>
                            <option value='-1'><%= setup_unassigned %></option>
                            <option value='0'>0</option>
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='6'>6</option>
                            <option value='7'>7</option>
                            <option value='8'>8</option>
                            <option value='9'>9</option>
                            <option value='10'>10</option>
                            <option value='11'>11</option>
                            <option value='12'>12</option>
                            <option value='13'>13</option>
                            <option value='14'>14</option>
                            <option value='15'>15</option>
                        </select>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_hardware_type %></span>
                            <span class='setting-value device-type'><%= setup_1wire_actuator %></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container device-address-container'>
                            <span class='setting-name'><%= setup_address %></span>
                            <span class='setting-value device-address'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container device-channel-container'>
                            <span class='setting-name'><%= setup_channel %></span>
                            <span class='setting-value device-channel'></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_controller_pin %>N</span>
                            <span class='setting-value device-pin'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_value %></span>
                            <span class='setting-value device-value'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_function %></span>
                            <select class='setting-value device-function'>
                                <option value=0><%= setup_none %></option>
                                <option value=1><%= setup_chamber_door %></option>
                                <option value=2><%= setup_chamber_heater %></option>
                                <option value=3><%= setup_chamber_cooler %></option>
                                <option value=4><%= setup_chamber_light %></option>
                                <option value=7><%= setup_chamber_fan %></option>
                                <option value=14><%= setup_capper %></option>
                                <option value=15><%= setup_ptc_cooler %></option>

                        </select>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container device-pintype-container'>
                            <span class='setting-name'><%= setup_pin_type %></span>
                            <select class='setting-value device-pintype'>
                                <option value=0><%= setup_not_inverted %></option>
                                <option value=1><%= setup_inverted %></option>
                        </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class='device-container bme280-device'>
            <table>
                <tr>
                    <td ROWSPAN=2>
                        <div class='device-title'></div>
                        <br>
                        <button><%= setup_apply %></button>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_device_slot %></span>
                            <select class='slot-select'>
                                <option value='-1'><%= setup_unassigned %></option>
                                <option value='0'>0</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_hardware_type %></span>
                            <span class='setting-value device-type'> BME280 </span>
                        </div>
                    </td>
                    <td></td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_address %></span>
                            <span class='setting-value device-address'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_value %></span>
                            <span class='setting-value device-value'></span>
                        </div>
                    </td>
                    <td>
                        <div class='device-setting-container  device-humidity-sensor-container device-calibration'>
                            <span class='setting-name'><%= setup_calibration %></span>
                            <input size="6" class='setting-value device-calibration'>
                        </div>
                    </td>    
                    <td>
                        <div class='device-setting-container'>
                            <span class='setting-name'><%= setup_function %></span>
                            <select class='setting-value device-function'>
                                <option value=0><%= setup_none %></option>
                                <option value=8><%= setup_chamber_humidity %></option>
                                <option value=18><%= setup_room_humidity %></option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <!-- build:include partials/footer.html -->
    <!-- /build -->

    <div id="blockscreen" class="modal">
        <div id="blockscreencontent" class="modal-content">
        </div>
    </div>

    <div id="dlg_restore" class="modal">
        <div class="modal-content"  style="padding:4em">
            <div class="modal-body">
                <p style="margin:1em">
                    <input type="file" id="restore-file"></input>
                    <span class="dialog-msg"></span>
                </p>    
            </div>
            <div class="modal-footer" style="float:right">
              <button type="button" class="btn btn--raised cancel"><%= dlg_cancel %></button>
            </div>
        </div>
    </div>

</body>

</html>
