<header layout horizontal main-justified cross-center relative class="header">
    <h1 class="header_title"><span id="hostname">BrewPiLess</span> <span id="verinfo" class="header_version-display"></span></h1>
    <div navigation>
        <div menuToggle>
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul class="options">
                <li>
                    <a href="/index.htm">
                        <%= menu2_graph %>
                    </a>
                </li>
                <li>
                    <a href="/control.htm">
                        <%= menu2_control %>
                    </a>
                </li>
                <li>
                    <a href="/logging.htm">
                        <%= menu2_logs %>
                    </a>
                </li>
                <li>
                    <a href="/setup.htm">
                        <%= menu2_setup %>
                    </a>
                </li>
                <li>
                    <a href="/config.htm">
                        <%= menu2_config %>
                    </a>
                </li>
                <li>
                    <a href="/gravity.htm">
                        <%= menu2_gravity %>
                    </a>
                    <li>
                        <a href="/pressure.htm">
                            <%= menu2_pressure %>
                        </a>
                    </li>
     
                </li>
            </ul>
        </div>
    </div>
</header>