/** Buttons **/

.btn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	padding: 0 1.5rem;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: .8px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	border: none;
	user-select: none;
	transition: all .3s ease-out;
	background-color: transparent;
	margin-right: 8px;

	&[disabled] {
		color: $divider-color;
		&:hover {
			background-color: transparent;
			cursor: not-allowed;
		}
	}
}

.btn--raised {
	background-color: $primary-color;
	color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	&:hover {
		background-color: darken($primary-color, 10);
	}
}

.btn--primary {
	color: $primary-color;
}

.btn:hover {
	background-color: hsla(0,0%,60%,.2);
	cursor: pointer;
}
