/** Modal **/
.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1000;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition-delay: 0s;
	background: rgba(0,0,0,0.3);
}

.modal-content {
	position: relative;
	padding: 2.4rem;
	background: #FFF;
	background-clip: padding-box;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
	transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
	max-width: 600px;
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
	h2.message {
		font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 
	}
}
