@import 'import/vars';
@import 'layout/reset';
@import 'layout/typo';
@import 'layout/layout';
@import 'layout/base';
@import 'ui-elements/buttons';
@import 'ui-elements/modal';


/** Tabs **/
.navitems {
  position: relative;
  display: block;
  padding:0;
  border-bottom: 1px solid #e0e0e0;
}

.navitem {
  position: relative;
  display:inline-block;
  text-decoration: none;
  padding: 22px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #424f5a;
  text-align: center;
  outline: none;

  &.nav-selected {
    color: $primary-color;
    outline:none;
  }
  &:not(.nav-selected):hover {
    background-color: inherit;
    color: $accent-color;
  }
}

.yellow-bar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 3px;
  background: #458CFF;
  display: block;
  left: 0;
  transition: left .2s ease;
  -webkit-transition: left .2s ease;
}

.detail {}

.profileTable td,
th {
  padding: 3px;
  text-align: center;
}

.profileTable tbody TR.odd {
  background: #f7f7f7;
}

.profileTable tbody TR.even {
  width: 100%;
}

.profileTable TH {
  border: 1px solid #4297d7;
  background: #5c9ccc;
  color: #ffffff;
  font-weight: bold;
}

table.profileTable {
  width: 100%;
}


#profile-edit {
  margin: 6px;
  width: 510px;
  position: relative;
}

#tc_chart {
  width: calc(100% - 510px);
height: 390px;
margin: 16px 0;
}


#profile-list-pane {
  position: absolute;
  background-color: #fafaf0;
  border-style: outset;
  border: solid 3px;
  height: 100%;
  width: 200px;
  overflow: auto;
  left: -300px;
  top: 0px;
  overflow: auto;
}

#profile-list-pane td {
  white-space: nowrap;
  overflow: hidden;
}

#profile-list-pane .rmbutton {
  color: red;
}

#profile-list-pane a,
#profile-list-pane u {
  text-decoration: none;
}
