@import 'vars';
@import 'reset';
@import 'typo';
@import 'layout';

/** Vars **/

$primary-color: teal;
$secondary-color: lighten($primary-color, 20);
$accent-color: red;

$beer-temp-color: rgb(41,170,41);
$beer-set-color: rgb(240, 100, 100);
$fridge-temp-color: rgb(89, 184, 255);
$fridge-set-color: rgb(255, 161, 76);
$room-temp-color: #AAAAAA;
$gravity-color: #f5e127;
$aux-temp-color: rgb(153,0,153);
$filtersg-color: #000abb;

/** Header **/

.header {
	height: 64px;
	background: $primary-color;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	padding: 0 16px;
	z-index: 2;
}

.header_title {
	font-size: 32px;
	line-height: 64px;
	color: #FFF;
	margin: 0;
	padding: 0;
}

.header_version-display {
	font-size: 14px;
	color: #FFF;
}

.options {
	list-style-type: none;
	height: 100%;
	> li {
		display: inline-block;
		height: 100%;
	}
	a {
		color: #FFF;
		text-transform: uppercase;
		height: 100%;
		padding: 8px;
		display: inline-block;
		line-height: 48px;
		&.active {
			border-bottom: 2px solid yellow;
		}
		&:hover {
			border-bottom: 2px solid #FFF;
		}
	}
}

/** Footer **/

.footer {
	height: 40px;
	background: #222;
	color: rgba(255,255,255,0.87);
	padding: 0 16px;
	a {
		color: rgba(255,255,255,0.87);
		font-weight: bold;
	}
}

/** Content **/

[viewport] {
	height: calc(100% - 104px);
}

[main] {
	padding: 16px;
	overflow-y: auto;
}

/* Data panes */
[side] {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
	width: 300px;
	padding: 16px;
	overflow-y: auto;
	background: #EEE;
}

.data-pane {
	list-style-type: none;
	display: block;
	> li {
	}
	.descriptor {
	}
	.heading {
		border-bottom: 1px solid rgba(0,0,0,0.64);
		padding-top: 8px;
		padding-bottom: 4px;
		margin-bottom: 4px;
		strong {
			text-transform: uppercase;
			display: inline-block;
		}
		#lcdControlState:empty + .for {
			display: none;
		}
	}
}

/** Error **/
.error {
	position: fixed;
	left: 20px;
	bottom: 50px;
	background-color: #323232;
	padding: 12px 24px 17px 24px;
	vertical-align: middle;
	color: #fff;
	box-shadow: 0 7px 18px rgba(0,0,0,0.2);
	&:empty {
		display: none;
	}
}


/** Switch **/

.switch-input {
	display: none;
}
.switch-label {
	position: relative;
	display: inline-block;
	min-width: 148px;
	cursor: pointer;
	font-weight: 500;
	text-align: left;
	margin: 0;
	padding: 4px 0 4px 44px;
}
.switch-label:before, .switch-label:after {
	content: "";
	position: absolute;
	margin: 0;
	outline: 0;
	top: 50%;
	transform: translate(0, -50%);
	transition: all 0.3s ease;
}
.switch-label:before {
	left: 1px;
	width: 34px;
	height: 14px;
	background-color: #DDD;
	border-radius: 8px;
}
.switch-label:after {
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #FAFAFA;
	border-radius: 50%;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-input:checked + .switch-label:after {
	background-color: #4CAF50;
	transform: translate(80%, -50%);
}
.switch-input:checked + label[for=beer-temp].switch-label:after {
	background-color: $beer-temp-color;
}
.switch-input:checked + label[for=beer-set].switch-label:after {
	background-color: $beer-set-color;
}
.switch-input:checked + label[for=fridge-temp].switch-label:after {
	background-color: $fridge-temp-color;
}
.switch-input:checked + label[for=fridge-set].switch-label:after {
	background-color: $fridge-set-color;
}
.switch-input:checked + label[for=room-temp].switch-label:after {
	background-color: $room-temp-color;
}
.switch-input:checked + label[for=gravity].switch-label:after {
	background-color: $gravity-color;
}
.switch-input:checked + label[for=aux-temp].switch-label:after {
	background-color: $aux-temp-color;
}
.switch-input:checked + label[for=filtersg].switch-label:after {
	background-color: $filtersg-color;
}

/** Chart **/

.chart {
	width: calc(100% - 240px);
	height:390px;
}

.chart-legend {
	list-style-type: none;
	width: 240px;
}
.chart-legend-row {
	padding:  8px 16px 0 16px;
	> div {
		display: inline-block;
	}
	.toggle {
		width: 12px;
		height: 12px;
		margin-right: 8px;
		border-radius:100%;
		border: 1px solid #000;;
		&:hover {
			cursor:pointer;
		}
	}
	&.time{
		background-color:#ddeeff;
		padding-bottom: 8px;
	}
}

.legend-label {
	width: 100px;
	font-weight: bold;
	&:hover {
		cursor:pointer;
	}
}

/** WIFI **/

#rssi {position:relative; height: 16px; width: 24px; display:inline-block;}
#wifisignal{
	font-size: 12pt;
	color:black;
	font-family: Courier New, Courier, monospace;
	position:absolute;
	top:6px;
	left:4px;
	display:none;
}
.rssi-bar {position:absolute; bottom:0; float:left; width: 4px; border-radius: 1px; background-color: #FFFFFF;}
.rssi-bar1 {height: 4px; left:0px;}
.rssi-bar2 {height: 8px; left:6px;}
.rssi-bar3 {height: 12px; left:12px;}
.rssi-bar4 {height: 16px; left:18px;}

/** Buttons **/

.btn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	padding: 0 1.5rem;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: .8px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	border: none;
	user-select: none;
	transition: all .3s ease-out;
	background-color: transparent;
}

.btn--primary {
	color: $accent-color;
}

.btn:hover {
	background-color: hsla(0,0%,60%,.2);
}

/** Modal **/
.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1000;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition-delay: 0s;
	background: rgba(0,0,0,0.3);
}

.modal-content {
	position: relative;
	padding: 2.4rem;
	background: #ffebee;
	background-clip: padding-box;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
	transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
	max-width: 600px;
	padding: 1.2rem;
}

.hide {
	display: none!important;
}
