@import 'import/vars';
@import 'import/mixins';
@import 'layout/reset';
@import 'layout/typo';
@import 'layout/layout';
@import 'layout/base';
@import 'ui-elements/switch';
@import 'ui-elements/modal';
@import 'ui-elements/buttons';

/* Data panes */

[side] {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    width: 300px;
    padding: 16px;
    overflow-y: auto;
    background: #EEE;
    @include for-tablet-landscape-down {
        width: 100%;
        order: 5;
    }
}

.data-pane {
    list-style-type: none;
    display: block;
    >li {}
    .descriptor {}
    .heading {
        border-bottom: 1px solid rgba(0, 0, 0, 0.64);
        padding-top: 8px;
        padding-bottom: 4px;
        margin-bottom: 4px;
        strong {
            text-transform: uppercase;
            display: inline-block;
        }
        #lcdControlState:empty+.for {
            display: none;
        }
    }
}


/** Chart **/

.chart {
    width: calc(100% - 280px);
    @include for-phone-only {
        width: 100%;
        margin-bottom: 16px;
    }
}
.chart-main {
    height: 390px
}
.chart-p {
    height: 130px
}

.chart-legend {
    list-style-type: none;
    width: 280px;
}

.chart-legend-row {
    padding: 8px 16px 0 16px;
    >div {
        display: inline-block;
    }
    .toggle {
        width: 12px;
        height: 12px;
        margin-right: 8px;
        border-radius: 100%;
        border: 1px solid #000;
        ;
        &:hover {
            cursor: pointer;
        }
    }
    &.time {
        background-color: #ddeeff;
        padding-bottom: 8px;
    }
}

.forced-hidden {
    display:none !important;
}

#gravity-sg,
#gravity-og {
    &:hover {
        cursor: pointer;
    }
}

.legend-label {
    width: 100px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}

#formula-btn {
    float: right;
    display: none;
    font-style: italic;
    text-decoration: underline;
    &:hover {
        cursor: pointer;
    }
}

#polynomialpane .modal-content {
    position: relative;
    max-width: 800px;
}

#pointlist {
    border-collapse: collapse;
}

#pointlist th {
    border: solid 1px;
}

#pointlist td {
    border: solid 1px;
    border-collapse: collapse;
}

#xclose {
    float: right;
    font-size: 14px;
    color: red;
    &:hover {
        cursor: pointer;
    }
}


/** WIFI **/

.wifi-bars {
    position: relative;
    height: 16px;
    width: 24px;
    display: inline-block;
}
.no-display {
    display:none !important;
}

#wifisignal {
    font-size: 12pt;
    color: black;
    font-family: Courier New, Courier, monospace;
    position: absolute;
    top: 6px;
    left: 4px;
    display: none;
}

.rssi-bar {
    position: absolute;
    bottom: 0;
    float: left;
    width: 4px;
    border-radius: 1px;
    background-color: #444;
}

.rssi-bar1 {
    height: 4px;
    left: 0px;
}

.rssi-bar2 {
    height: 8px;
    left: 6px;
}

.rssi-bar3 {
    height: 12px;
    left: 12px;
}

.rssi-bar4 {
    height: 16px;
    left: 18px;
}


/** FG State **/

.platounit {
    display: none;
}