/** Header **/

.header {
	height: 64px;
	background: $primary-color;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	padding: 0 16px;
	z-index: 2;
}

.header_title {
	font-size: 32px;
	line-height: 64px;
	color: #FFF;
	margin: 0;
	padding: 0;
}

.header_version-display {
	font-size: 14px;
	color: #FFF;
}

.options {
	list-style-type: none;
	height: 100%;
	> li {
		display: inline-block;
		height: 100%;
	}
	a {
		color: #FFF;
		text-transform: uppercase;
		height: 100%;
		padding: 8px;
		display: inline-block;
		line-height: 48px;
		&.active {
			border-bottom: 3px solid $accent-color;
		}
		&:hover {
			border-bottom: 3px solid #FFF;
		}
	}
}

/** Footer **/

.footer {
	height: 40px;
	background: #222;
	color: rgba(255,255,255,0.87);
	padding: 0 16px;
	a {
		color: rgba(255,255,255,0.87);
		font-weight: bold;
	}
}

/** Content **/

[viewport] {
	height: calc(100% - 104px);
}

[main] {
	padding: 16px;
	overflow-y: auto;
}

/** Error **/
.error {
	position: fixed;
	left: 20px;
	bottom: 50px;
	background-color: #323232;
	padding: 12px 24px 17px 24px;
	vertical-align: middle;
	color: #fff;
	box-shadow: 0 7px 18px rgba(0,0,0,0.2);
	&:empty {
		display: none;
	}
}

/** Inputs **/
input[type="number"], input[type="text"] {
  width: 100%;
	margin: 16px 0;
  display: block;
  border: none;
  padding: 18px 0 10px;
  border-bottom: solid 1px $primary-color;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $primary-color 4%);
  background-position: -100% 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: darken($primary-color, 20%);
  &:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::placeholder {
      color: $primary-color;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
			transition: all 0.3s ease-in-out;
    }
  }
	&:invalid {
		background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, red 4%);
	}
}

/** Utils **/

.hide {
	display: none!important;
}
